/* Layout */
$body:					#eaeaea;


$header:    			#fafafa;
$article: 				$header;

$nav:	        		$header;


/*******************************************/
/* Couleurs */
$titre: 				#d9ab0e;
$date: 					#27c217;



/********************************************/
/* Objets */
$button-color: 			#fefefe;
$button: 				#ff6565;
$button-online: 		#27c217;
$button-offline: 		#888888;
$button-login: 			#27c217;
$button-new: 			#27c217;

$input: 				#aaaaaa;


/******************************************************************************/
/* Typo */
$texte:         		#5d5e64;
$liens:         		#4478a2;
$liensSurvoles: 		none;
$color-light:   		#fefefe;