/* Layout */
$body:					#fafafa;


/*******************************************/
/* Header */
$header:    			rgba(235, 235, 235, 0.9);
$logo:      			#e67e22;


/*******************************************/
/* Nav */
$button:        		$header;
$nav:	        		$header;
$notifications: 		$logo;


/*******************************************/
/* Sections */



/********************************************/
/* Objets */
$button-color: 			#fefefe;
$button: 				#aaaaaa;


/******************************************************************************/
/* Typo */
$texte:         		#5d5e64;
$liens:         		#4478a2;
$liensSurvoles: 		none;
$color-light:   		#fefefe;