/* Layout */
body
{
	background: $body;
	width: 80%;
	max-width: 450px;
	margin: auto;
	@include box-sizing(border-box);

	@media all and (max-width: 450px)
	{
		width: 85%;
	}
}

@import  "layout/header.scss";
@import  "layout/nav.scss";
@import  "layout/section.scss";