/* Boutons */

@mixin button
{
	border: none;
	margin: 0;
	@include border-radius(3px);
	padding: 2px 10px 3px 10px;
	color: $button-color;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
	font-size: 0.9em;
	cursor: pointer;

	@include appearance(none);
}

.button
{
	@include button;

	background: $button;

	&:hover, &:active, &:focus
	{
		background: darken($button, 5%);
	}
}

.button-online
{
	@include button;

	background: $button-online;
}

.button-offline
{
	@include button;

	background: $button-offline;
}

.button-login
{
	@include button;

	background: $button-login;
}

.button-new
{
	@include button;

	background: $button-new;
}

/*********************************************************************/
/* Inputs */

#mdp
{
	@include appearance(none);
	padding: 3px;
	margin: 0 0 0 6px;
	border: 1px $input solid;
	@include border-radius(3px);
	min-width: 110px;
	max-width: 110px;
}

#content
{
	@include box-sizing(border-box);
	@include appearance(none);
	padding: 3px;
	border: 1px $input solid;
	@include border-radius(3px);
	width: 100%;
	font-size: 0.8em;
}