/* Boutons */

@mixin button
{
	border: none;
	margin: 0;
	@include border-radius(2px);
	padding: 3px 8px 2px 8px;
	color: $button-color;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
	font-size: 0.9em;
	cursor: pointer;

	@include appearance(none);
}

.button
{
	@include button;

	background: $button;

	&:hover, &:active, &:focus
	{
		background: darken($button, 5%);
	}
}

/*********************************************************************/
/* Inputs */
$input: 	#aaaaaa;

input[type="text"], input[type="password"], input[type="email"], input[type="search"], input[type="tel"], input[type="select"], select, textarea
{
	padding: 3px;
	border: 1px $input solid;
	@include border-radius(3px);

	&:hover, &:focus, &:active
	{
		border: 1px $input solid;
	}
}

input[type="text"], input[type="password"], input[type="email"], input[type="search"], input[type="tel"]
{
	min-width: 164px;
}